.modalBox {
}
.descriptionImageBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.descriptionImage {
  font-size: 20px;
}
.titleImg {
  font-size: 20px;
}
.socialImageBox {
  display: flex;
  justify-content: space-around;
  flex-basis: calc((100% - (2 * 30px)) / 3);

  align-items: center;
}
